*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    font-family: arial;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

.dropdown{
    position: relative;
}
.dropdown > .dropdown-contant{
    position: absolute;
    right: 0;
    top: 36px;
    display: none;
    background: linear-gradient(360deg, #909090 85%, #bdbbbb);
    width: max-content;
}
.dropdown > .dropdown-contant a{
    display: block;
    width: 100%;
    padding: 4px 5px;
    border-bottom: solid 1px #a9a9a9;
}
.dropdown > .dropdown-contant a:last-of-type{
    border-bottom: none;
}
.dropdown > .dropdown-contant a:hover{
    background-color: #bcbcbc;
}
.dropdown:hover > .dropdown-contant{
    display: block;
}

a > .a-dsply{
    display: none;
}
a:hover > .a-dspr{
    display: none;
}
a:hover >  .a-dsply{
    display: initial;
}


body > header{
    background: linear-gradient(180deg, #909090 85%, #bdbbbb);
    width: 100%;
    height: 106px;
    position: absolute;
    top: 0;
}
header > .row{
    width: 900px;
    margin: auto;
    height: 50%;
    justify-content: space-between;
    align-items: center;
}
header #logo{
    position: absolute;
    top: 32px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header a:hover, footer a:hover{
    color: #005b9f;
    text-decoration: underline;
}
header a#site-lang{
    font-size: 12px;
}
header input[type="text"]{
    border-top-right-radius: 6px;
    border: none;
    width: 132px;
    height: 19px;
    box-shadow: inset -2px 2px 3px -2px rgba(0, 0, 0, 0.4);
    margin: auto 16px auto 1px;
    font-size: 12px;
    padding: 1px 5px 1px 1px;
}
header #search-button:focus{
    outline: solid 1px red;
}
header > .row > .column:last-of-type{
    margin-top: 6px;
    margin-left: 3px;
}
header .column > .row{
    justify-content: space-between;
    align-items: center;
}
header > .row:last-of-type{
    justify-content: flex-end;
    align-content: flex-end;
}
header nav{
    width:757px ;
    height: 33px;
    margin-bottom: 19px;
}
header nav ul, footer nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 8px 0 4px;
    margin-block-end:0;
}
header nav ul a{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 18px;
}
header nav ul li img{
    margin-top: 3px;
}
header nav ul li.separator{
    background: linear-gradient(270deg, #909090 50%, #bdbbbb);
    width: 4px;
    height: 18px;
    margin-top: 4px;
}


body > .main-section{
    width: 900px;
    margin: 136px auto 0 auto;
    flex-wrap: nowrap;
}
.main-section > .column{
    width:293px;
    height:355px;
    border-bottom-right-radius: 20px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}
.main-section > .column:first-of-type{
    background-image: url(images/1908364606615453350.JPG);
}
.main-section > .column:nth-of-type(2){
    background-image: url(images/Picture-046410251500.jpg);
}
.main-section > .column:last-of-type{
    background-image: url(images/291_354410564000.jpg);
}
.main-section > .column > .text-holder{
    width: 248px;
    height: 97px;
    padding: 10px;
    color: white;
    margin: 0 6px 7px 0;
    background-color: rgba(125,125,125,0.85);
    border-bottom-right-radius: 20px;
}
.main-section > .column > .text-holder h4{
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 4px 0;
}
.main-section > .column > .text-holder article{
    font-size: 13px;
    line-height: 13px;
}
.main-section > .column > .text-holder a{
    font-size: 13px;
    color: white;
    float: left;
}
.main-section > .column > .text-holder a img{
    margin-right: 4px;
}
.main-section > .column > .text-holder a:hover{
    color: #005b9f;
}


body > .secondery-section{
    width: 900px;
    margin: 0 auto 70px auto;
    color: #575757;
}
.secondery-section .links{
    display: block;
}
.secondery-section a{
    font-size: 13px;
    float: left;
    color: #72716d;
    margin-top: 12px;
}
.secondery-section a img{
    margin: 0 4px 0 0;
}
.secondery-section a:hover{
    color: #005b9f;
}
.secondery-section > .column{
    width: 287px;
    height: 216px;
    border: 2px solid rgba(233,233,233,0.8);
    padding: 0 15px;
    margin: 19px 13px 0 0;
    border-top-right-radius: 20px;
    background: linear-gradient(0deg, rgba(233, 233, 233, 0.8) 50%, #fff);
}
.secondery-section h4{
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 4px 2px 8px 0;
    line-height: 2;
    border-bottom: 2px solid rgba(216,216,216,0.5);
    width: 245px;
}
.secondery-section > .column > img{
    margin-top:5px ;
}
.secondery-section > .column:last-of-type > .map-links > img{
    margin-top: -5px;
}
.secondery-section > .column:last-of-type a{
    float: none;
    display: block;
    margin-top: 0;
}
.secondery-section > .column:last-of-type .links{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.secondery-section > .column:last-of-type .links img{
    float: left;
    margin-top: 4px;
}
.secondery-section .map-links{
    margin: 0 3px;
    display: flex;
    justify-content: space-between;
}


body > footer{
    background: linear-gradient(0deg, #909090 60%, #bdbbbb);
    width: 100%;
    height: 38px;
    position: fixed;
    bottom: 0vh;
}
footer > nav{
    width: 900px;
    margin: auto;
}
footer > nav > ul{
    width: 815px;
    padding: 0;
    margin-block-start:14px;
    margin-right: 13px;
}
footer > nav li > a,footer > nav li{
    color: white;
    font-size: 14px;
    font-weight: normal;
    /* margin-left: 1px; */
    padding: 0;
}
footer .red > a{
    color: red;
    text-shadow:0.2px 0.2px rgb(75, 75, 75);
}