*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    font-family: arial;
}

header{
    background: linear-gradient(180deg, #909090 85%, #bdbbbb);
    width: 100%;
    height: 106px;
    position: fixed;
    top: 0;
}

header > .row{
    width: 900px;
    margin: auto;
    height: 50%;
    justify-content: space-between;
    align-items: center;
}

header #logo{
    position: absolute;
    top: 32px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header a:hover, footer a:hover{
    color: #005b9f;
    text-decoration: underline;
    /* text-decoration-color: #005b9f; */
}

a#site-lang{
    font-size: 12px;
}

header input{
    border-top-right-radius: 6px;
    border: none;
    width: 132px;
    height: 19px;
    box-shadow: inset -2px 2px 3px -2px rgba(0, 0, 0, 0.4);
    margin: auto 16px auto 1px;
    font-size: 12px;
    padding: 1px 5px 1px 1px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
header > .row > .column:last-of-type{
    margin-top: 6px;
    margin-left: 3px;
}
header .column > .row{
    justify-content: space-between;
    align-items: center;
}
header > .row:last-of-type{
    justify-content: flex-end;
    align-content: flex-end;
}
header nav{
    width:757px ;
    height: 33px;
    margin-bottom: 19px;
}
header nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 8px 0 4px;
    margin-block-end:0;
}

header nav ul a{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 18px;
}
header nav ul li img{
    margin-top: 3px;
}

nav ul li.separator{
    background: linear-gradient(270deg, #909090 50%, #bdbbbb);
    width: 4px;
    height: 18px;
    margin-top: 4px;
}

.dropdown{
    position: relative;
}

.dropdown > .dropdown-contant{
    position: absolute;
    right: 0;
    top: 36px;
    display: none;
    background: linear-gradient(360deg, #909090 85%, #bdbbbb);
    width: max-content;
}
.dropdown > .dropdown-contant a{
    display: block;
    width: 100%;
    padding: 4px 5px;
    border-bottom: solid 1px #a9a9a9;
}
.dropdown > .dropdown-contant a:last-of-type{
    border-bottom: none;
}
.dropdown > .dropdown-contant a:hover{
    background-color: #bcbcbc;
}
.dropdown:hover > .dropdown-contant{
    display: block;
}